//  =============
//  = Variables =
//  =============

// colors
$pale-horse: #efefef
$mud: #676767
$neutral: #ccc
$mustard: #d2ad14
$purple: #7a5383
$pumpkin: #985200
$mocha: #908975
$olive: #667944

// type
$alt-type: 'Quattrocento', serif
$type: 'Quattrocento Sans', sans-serif

$border: 1px solid rgba(black, .2)
$border-light: 1px solid rgba(white, .4)
$border-dotted: 1px dotted rgba(black, .2)
$border-light-dotted: 1px dotted rgba(white, .4)

// sections
=main
  padding: 3em 0
  &:nth-child(even)
    background: white
  +media($baby-bear)
    padding: 2em 0

//media breakpoints
$baby-bear: new-breakpoint(max-width 767px)
$mama-bear: new-breakpoint(max-width 979px)
$papa-bear: new-breakpoint(min-width 1441px)

// buttons
=btn
  background: $mustard
  border: $border
  padding: .5em .7em
  color: rgba(white, .8)
  +transition(all, .2s)
  &:hover
    background: lighten($mustard, 2%)
    +transition(all, .2s)
  i
    padding-right: .5em
    margin-right: .3em
    border-right: $border-light-dotted
  .fa
    +media($baby-bear)
      display: none

// misc
=vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)


// useful for divs of the same height (like home)
%flex
  display: -webkit-box
  display: -moz-box
  display: -webkit-flexbox
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap

  +media($baby-bear)
    display: block



//  =================================
//  = bitters variables for refills =
//  =================================

$all: em(1)
$medium-screen: em(640)
$large-screen: em(860)

$medium-screen-up: new-breakpoint(min-width $medium-screen 4)
$large-screen-up: new-breakpoint(min-width $large-screen 8)

// Typography
$sans-serif: $helvetica
$serif: $georgia
$base-font-family: $sans-serif
$header-font-family: $base-font-family

// Sizes
$base-font-size: 1em
$base-line-height: $base-font-size * 1.5
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1) // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25
$base-border-radius: em(3)

// Colors
$blue: #477DCA
$dark-gray: #333
$medium-gray: #999
$light-gray: #DDD
$light-red: #FBE3E4
$light-yellow: #FFF6BF
$light-green: #E6EFC2

// Background Color
$base-background-color: white
$base-body-color: $pale-horse

// Font Colors
$base-font-color: $dark-gray
$base-accent-color: $blue

// Link Colors
$base-link-color: $base-accent-color
$hover-link-color: darken($base-accent-color, 15)
$base-button-color: $base-link-color
$hover-button-color: $hover-link-color

// Border color
$base-border-color: $light-gray

// Flash Colors
$alert-color: $light-yellow
$error-color: $light-red
$notice-color: $light-yellow
$success-color: $light-green

// Forms
$form-border-color: $base-border-color
$form-border-color-hover: darken($base-border-color, 10)
$form-border-color-focus: $base-accent-color
$form-border-radius: $base-border-radius
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06)
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7)
$form-font-size: $base-font-size
$form-font-family: $base-font-family