=image_tag('bios/allan.jpg', :alt => 'Allan Savory')
%h1 Allan Savory
%p Allan Savory, born in Rhodesia (today Zimbabwe), Allan spent his early career as a farmer, game ranger and research biologist. Exiled for his opposition to the racist policies of the white-led Rhodesian Front Government, Allan emigrated to the United States from where he continued his scientific research.
%p In the 1960s, while working on the interrelated problems of increasing poverty and disappearing wildlife, he made a significant breakthrough in understanding what was causing the degradation and desertification of the world’s grassland ecosystems. He went on to work, as a resource management consultant, with numerous managers, eventually on four continents, to develop sustainable solutions. Allan's method of Holistic Management regenerates, rather than degrades, ecosystems. He has proven that we cannot just halt but reverse desertification, remedy global warming, and do so while improving the lives and livelihood of millions of people particularly in developing regions.
%p Allan's work has been lauded as critical to the continuation of life on earth. Through the work of the Savory Institute, Allan has made it his life's mission to educate the world about the holistic method.
%p Author of <em>The Grazing Revolution</em> and <em>Holistic Management: A New Framework for Decision Making</em>, Allan has spoken around the world at hundreds of events, and has become an icon to farmers, agriculturalists and landowners. In 2003, he was awarded the Banksia International Award for the person or organization doing the most for the environment on a global scale. His current work in Africa is receiving much praise and recognition and the Africa Centre for Holistic Management won the 2010 Buckminster Fuller Award for its contribution to solving one of the world’s most pressing problems.

%h3 Videos:
%ul
  %li=link_to 'Ted Talk', 'http://www.ted.com/talks/allan_savory_how_to_green_the_world_s_deserts_and_reverse_climate_change'
  %li=link_to 'Keeping Cattle: cause or cure for climate crisis?', 'http://vimeo.com/8239427'
  %li=link_to 'Effective Rainfall Demo', 'http://youtu.be/Vk3KHrqb7Uc'