!!!5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1', name: 'viewport'}
    %link{:href => '/favicon.ico?v=7', :rel => 'shortcut icon'}
    %title Putting Grasslands to Work | Savory Institute

    %link{href: '/bower_components/normalize-css/normalize.css', rel: 'stylesheet'}
    %link{href: '//fonts.googleapis.com/css?family=Quattrocento|Quattrocento+Sans:400,700,400italic,700italic', rel: 'stylesheet'}
    %link{href: '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel: 'stylesheet'}
    %link{href: '/stylesheets/css/app.css', rel: 'stylesheet'}

    %script{src: '/bower_components/jquery/dist/jquery.min.js'}

  %body
    .wrapper
      %section.main
        .container
          %h2 Brandon Sheard
          %p Brandon Sheard came into traditional slaughter, butchery and curing right after finishing his graduate work in Renaissance English Literature. After marrying Lauren, he quit his job at Whole Foods in the supplement department and started work on a small, multi-species and pasture-based farm in the Pacific Northwest. After two years of working on the farm and managing the butcher shop, Brandon left and started Farmstead Meatsmith with Lauren. Largely self-taught in the art of traditional animal harvesting, Brandon and Lauren continue to provide the services of livestock processing and classes through Farmstead Meatsmith with a little help from 5 year-old Wallace, 3 year-old John Luke and 1 year-old Simon. Their home and business is on Vashon Island, Washington.