=image_tag('bios/chad.jpg', :alt => 'Chad Kruger')
%h1 Chad Kruger
%p Chad Kruger is the Director of the Washington State University Center for Sustaining Agriculture & Natural Resources (CSANR). In that capacity he oversees CSANR research and extension efforts ranging from organic farming to climate change to small farms. Since 2004 he has led CSANR’s award winning Climate Friendly Farming™ Project which focuses on evaluating the carbon footprint of agriculture, developing greenhouse gas mitigation technology, climate change impact assessment, and developing renewable fuels and products from biomass. He is also on the <a href='http://pnchm.org', target='_blank'>Pacific Northwest Center for Holistic Management</a> team providing Holistic Management training and services throughout Washington and Oregon.

