%h1 Courtney White

%p A former archaeologist and Sierra Club activist, Courtney dropped out of the 'conflict industry' in 1997 to co-found the Quivira Coalition, a nonprofit dedicated to building bridges between ranchers, conservationists, public land managers, scientists and others around practices that improve land health (see <a href='http://www.quiviracoalition.org/'>www.quiviracoalition.org</a>). Today, his conservation work focuses on building economic and ecological resilience on working landscapes, with a special emphasis on carbon ranching and the new agrarian movement.

%p Courtney has been engaged with Holistic Management (or HRM as it was called then) since 1998, when he co-founded the Quivira Coalition. That's when he took a class from Kirk Gadzia. I've been an advocate for Holistic Planned Grazing ever since.

%p His writing has appeared in numerous publications, including <em>Farming, Acres Magazine, Rangelands, the Natural Resources Journal and Solutions</em>. His essay, "The Working Wilderness: a Call for a Land Health Movement" was published by Wendell Berry in 2005 in his collection of essays titled <em>The Way of Ignorance.</em>

%p In 2008, Island Press published Courtney's book <em>Revolution on the Range: the Rise of a New Ranch in the American West.</em> He co-edited, with Dr. Rick Knight, <em>Conservation for a New Generation,</em> also published by Island Press in 2008.

%p More of Courtney's work can be found on his web site: <a href='http://www.awestthatworks.com'>www.awestthatworks.com</a>
%p In 2010, Courtney was given the Michael Currier Award for Environmental Service by the New Mexico Community Foundation.

%p In 2012, he was a writer-in-resident at the U Cross Foundation, near Sheridan Wyoming, and he was the first Aldo Leopold Writer-in-Resident at Mi Casita, in Tres Piedras, New Mexico, courtesy of the Aldo Leopold Foundation and the U.S. Forest Service.

%p In 2012, he published a collection of black-and-white photographs of the American West in an online book titled <em>The Indelible West</em>. It includes a Foreword by Wallace Stegner (written in 1992). See: <a href='http://www.indeliblewest.com'>www.indeliblewest.com</a>

%p Courtney will have two books coming out soon: Grass, Soil, Hope: a Journey through Carbon Country, <a href='http://www.chelseagreen.com/bookstore/item/grass_soil_hope#'>http://www.chelseagreen.com/bookstore/item/grass_soil_hope#</a> to be published by Chelsea Green Press in June, 2014, and a collection of essays titled Age of Consequences, to be published by Counterpoint Press in early 2015.
%p He lives in Santa Fe, New Mexico, with his family and a backyard full of chickens.