=image_tag('bios/dan.jpg', :alt => 'Daniela Ibarra-Howell')
%h1 Daniela Ibarra-Howell
%p Daniela co-founded the Savory Institute and became its CEO in 2011, bringing over 20 years of experience working on desertification and land degradation issues.

%p Daniela has practiced and taught Holistic Management to successfully heal grasslands and meet economic and social goals in many different regions of the world, including the US, Argentina, Mexico, and New Zealand. She has worked with pastoralists and agricultural communities in Southeast Asia, South America, Southern and Eastern Africa and Europe.

%p One of Daniela’s strengths is bringing people together to build collaborative efforts. She’s managed teams that included federal and state public agencies, environmental groups, citizens, ranchers, academics and other sectors.  She has also worked extensively with the government in Argentina on the economic impacts of desertification and land degradation, including the Undersecretariat of Environmental Policy, the Argentine Secretariat of Agriculture and the National Commission of Desertification in Patagonia.

%p Daniela worked for her firm Del Cerro L.L.C, a land management and international consulting and education business, for 14 years. She and her husband own Del Cerro Ranch in western Colorado, which has been managed holistically for nearly 20 years.

%p Daniela was born and raised in Buenos Aires, Argentina. She studied Agricultural Sciences at the University of Buenos Aires specializing in desertification control and agricultural economics. She has a Masters Degree in Natural Resource Management and Economics from Lincoln University in Canterbury, New Zealand. She completed training in Holistic Management with Allan Savory in 1996, when she became a certified educator. She holds executive degrees in Advanced Negotiation and Conflict Resolution from University of Notre Dame.

%p Daniela is married and has two young daughters, Savanna and Mia.