=image_tag('bios/darren.jpg', :alt => 'Darren Doherty')
%h1 Darren J. Doherty
%p Darren J. Doherty has extensive experience across the world in project design, development, management and training. A career-long focus on the profitable and regenerative retrofit of broadacre landscapes has seen Darren acclaimed as a pioneer in this important and often overlooked field.
%p Darren is a 5th generation Bendigo farmer, developer, author and trainer and has been involved in the design and development of over 1500, mostly broadacre projects across 5 continents in 44 countries, ranging from 1 million hectare cattle stations in Australia’s Kimberly region to 110,000 acre Estancia’s in Patagonia, EcoVillage developments in Tasmania to Public:Private R&D Agroforestry and Education Projects in Viet Nam, Novel AG Machinery development + Family Farms across the globe with a range of private, corporate, government and non-profit clients.
%p A true “integrationalist,” Darren has more recently been the originator of the Keyline® Design, Carbon Farming, Carbon Economy and Regenerative Agriculture (along with RegenAG®) course series across Europe, North and South America and Oceania. This wide experience has created an international reputation of achievement plus and enviable and expansive network that integrates many disciplines. Globally many of Darren’s alumni of over 5000 people are at the cutting edge of the movement towards regenerative agriculture and living systems.
%p Darren is the originator of the Regen10 process which outlines a strategic and logical process to the development of regenerative agricultural systems, central to which is another innovation “IntegriPasture” which provides an integrated framework for multiple species pastoral and localised processing, logistics and marketing.
%p Darren is married to Lisa Heenan and together they have three children, Isaebella (19), Pearl (12) and Zane (10). Darren and Isaebella are both Directors of HeenanDoherty Pty. Ltd, a family biz delivering Consulting, Events, Development, AG Products and multi-award winning Media from the family farm in the Bendigo region of central Victoria, Australia.

%h3 HOLISTICGOAL®
%blockquote
  To maintain creative, intergenerational family and community lives built around regenerative and profitable production, management and educational systems

%h3 TOP 10 OUTCOMES:
%ol
  %li Produce stable environments with sound watersheds
  %li Restore profitability via integrated & regenerative agricultural development & management
  %li Increase wildlife species, numbers with species & stability of populations
  %li Improve water, soil & vegetation resources of cities, industry & agriculture
  %li Re-establish riverine & riparian areas
  %li Prevent waste of financial, human & natural resources
  %li Entrench Holistic Management® Decision Making Frameworks & Permaculture Design Ethics & Principles within the education   %li system, communities & organisations
  %li Develop viable decentralised energy production systems
  %li Restore local, regional & global mineral & water cycles
  %li Provide value to our collaborators, course participants, clients & community

%h3 HEENANDOHERTY CHARTER:
%p “...To provide the potential for people to be informed about the regenerative economy, whether it involves their work in agriculture, land management, corporate life, domestic services, manufacturing or other activities that are within the reasonable domain of humans…”

%h3 More Info:
%ul
  %li=link_to 'Video', 'http://youtu.be/MvVlzUv8D5U'
