=image_tag('bios/graham.jpg', :alt => 'Graham Harvey')
%h1 Graham Harvey
%p Graham Harvey is a regular writer for The Guardian and UK agricultural publication Farmers Weekly. He is also the agricultural story editor for the Radio 4 serial, The Archers (the celebrated BBC Radio drama series), and the author of books including The Killing of the Countryside, We Want Real Food, and The Carbon Fields. He is a strong proponent for Holistic Management as well as bringing diversity back to farm landscapes.

%blockquote “After a spell at university (I read agriculture, as you might guess) I took a job as a reporter on Farmers Weekly. That’s when I started seeing the traditional mixed farm come under attack. In its place we now have animal factories and prairie-style wheat, guzzling oil and constantly buffeted by global commodity markets.

%p Back in the 1980s I gave up full-time journalism to write scripts for The Archers. At least in this fictional world there were a few mixed farms left. For the past 14 years I’ve been the show’s ‘agricultural story editor’, a sort of farm minister for Ambridge. But it’s time to get back to the real world.

%p I’ve been fascinated with agriculture ever since I took a holiday job on a farm near my home in Reading. It was a mixed farm, the sort that grew both food crops for people and grass for grazing cattle. Looking back it was a great system. Because the milk and meat came from animals grazing pasture they contained all sorts of nutrients to protect human health. And when the pasture was ploughed up for wheat or oats, the soil was so fertile it would grow sizeable crops without the need for pesticides. Modern high-input agriculture is wrecking our health, our rural communities and our planet. In my view there’s only one answer – Britain’s forgotten treasure, family mixed farms. Real farms producing real food.”

