=image_tag('bios/judith.jpg', :alt => 'Judy Schwartz')
%h1 Judith Schwartz
%p Judith D. Schwartz is the author of <em>Cows Save the Planet and Other Improbable Ways of Restoring Soil to Heal the Earth</em> (Chelsea Green Publishing, 2013), which looks at soil as a hub for multiple environmental, economic and social challenges—and for solutions. She has written on soil, climate and Holistic Management for such publications as <em>Scientific American, Conservation, Time, Christian Science Monitor, Guardian UK, Food Tank</em> and <em>YaleE360</em>.

%p Judith is a frequent speaker about land/climate dynamics and an advisory board member of the organization Biodiversity for a Livable Climate, which focuses on mobilizing the biosphere to restore ecosystems, build food and water security, and reverse climate change. As a journalist she’s had the opportunity to report on and write about the practice of HM and its capacity to transform landscapes and restore land function.

%p She has degrees from Brown University, the Columbia University School of Journalism, and Northwestern (MA Counseling.) She lives with her family in Southern Vermont.