=image_tag('bios/justin.jpg', :alt => 'Justin Adams')
%h1 Justin Adams
%p Justin Adams is the Managing Director for Global Lands at The Nature Conservancy, where he leads a broad team of Conservancy staff operating at the intersection of global development and environmental challenges, including sustainable agriculture, forests and climate change, smart infrastructure, and indigenous and communal conservation.

%p He believes passionately that we have to find new models to balance competing priorities for land including food security, sustainable energy production and sustainable livelihoods, while also conserving and restoring nature to deliver the critical ecosystem services on which all life depends.

%p Justin has spent more than 20 years championing innovation and sustainability. Most recently he has worked as a Senior Advisor to the World Bank where he helped design and raise $280 million for the BioCarbon Fund’s Initiative for Sustainable Forested Landscapes.

%p He also served as a Senior Advisor to the Duke of Westminster’s new agricultural fund – Wheatsheaf Investments and built a boutique advisory business working with NGOs and companies on issues including palm oil expansion, restoring degraded lands, improving smallholder yields and sustainable bioenergy.

%p Previously, Justin was a senior executive at BP for 10 years where he helped to build its $8 billion renewables division, Alternative Energy. As Vice President of Strategy and Innovation, he created and led BP’s corporate venture arm – BP Ventures – managing an investment portfolio of $150 million across 30 entrepreneurial companies. He also consolidated and led BP’s carbon-related activities (including carbon capture & storage and REDD) under the banner of Carbon Solutions. In his previous role as Director Long-Term Technology and Innovation, he helped establish a number of pioneering public-private technology and innovation initiatives and partnerships in China, India, the United States and the United Kingdom.

%p Justin is a Fellow at the Smith School of Enterprise and the Environment at the University of Oxford and is also completing a role as Chairman of Mendel Plant Sciences. He received a Bachelor’s degree in Business Administration and Management from the University of Bath, in the United Kingdom.