=image_tag('bios/natasha.jpg', :alt => 'Natasha Campbell-McBride M.D.')
%h1 Natasha Campbell-McBride M.D.
%h4 MMedSci (neurology), MMedSci (nutrition)
%p Dr. Campbell-McBride graduated with Honours as a Medical Doctor in 1984 from Bashkir Medical University in Russia. In the following years she gained a Postgraduate Degree in Neurology.

%p After practising for five years as a Neurologist and three years as a Neurosurgeon she started a family and moved to the UK. It was during this time that Dr. Campbell-McBride developed her theories on the relationship between neurological disorders and nutrition, and completed a second Postgraduate Degree in Human Nutrition at Sheffield University, UK.

%p Dr. Campbell-McBride returned to practice in 2000 and runs the Cambridge Nutrition Clinic. She has specialised in using nutritional approach as a treatment, and has become recognised as one of the world’s leading experts in treating children and adults with learning disabilities and other mental disorders, as well as children and adults with digestive and immune disorders.

%p In 2004 she published a book <em>Gut And Psychology Syndrome. Natural Treatment Of Autism, ADHD, Dyslexia, Dyspraxia, Depression And Schizophrenia</em> where she explores the connection between the patient's physical state and brain function. The book gives full details of the GAPS Nutritional Protocol, highly successful in treating patients with learning disabilities and other mental problems. A second edition was published in 2010, and the book has been translated into ten languages.

%p In her clinic Dr Campbell-McBride works with many patients with heart disease, high blood pressure, arrhythmia, stroke and other complications of atherosclerosis. She has become acutely aware of the existing confusion about nutrition and these conditions, which spurred an intensive study into this subject. The result of this study is her book <em>Put Your Heart in Your Mouth! What really is Heart Disease and what can we do to Prevent and even Reverse it.</em> The book was published in December 2007.

%p Dr. Campbell-McBride is a keynote speaker at many professional conferences and seminars worldwide. She frequently gives talks to health practitioners, patient groups and associations. She is also a Member of The Society of Authors, The British Society for Environmental Medicine, and a Board Member of the Weston A Price Foundation. She is a regular contributing health editor to a number of journals, magazines and newsletters in English speaking countries around the world.