=image_tag('bios/sarah.jpg', :alt => 'Sarah Fragoso')
%h1 Sarah Fragoso
%p Sarah Fragoso is a well known cookbook author, paleo lifestyle champion, and trainer. She is a dedicated wife and a mother of three who has succeeded in helping her own family find true health and wellness. Sarah’s passion for helping other families adopt a paleo lifestyle is apparent when visiting her extremely popular recipe and lifestyle blog, EverydayPaleo.com.

%p Her journey began in 2008 when her health hit rock bottom. She started working out at Norcal Strength and Conditioning and after learning about Paleo from Robb Wolf and Nicki Violetti, her paleo journey began. She quickly learned a lot about how to successfully feed a family paleo and her books and blog are reflection of those experiences.

%p She and her husband live in Chico, Ca and raise 3 children. They also run J&S Strength and Conditioning (John & Sarah’s gym), in addition to an online gym EPLifeFit.com. When Sarah’s not playing with the boys, hanging out with the hubby, or in the gym, she’s usually in the kitchen creating my latest family friendly paleo meal!
%ul
  %li National Best Seller: Everyday Paleo
  %li Children’s Book: Paleo Pals, Jimmy and the Carrot Rocket Ship
  %li National Best Seller: Everyday Paleo Family Cookbook
  %li Latest Release: Everyday Paleo Around the World: Italian Cuisine
  %li Coming Soon: Everyday Paleo Around the World: Thai Cuisine