=image_tag('bios/seth.jpg', :alt => 'Seth Itzkan')
%h1 Seth Itzkan
%p Seth Itzkan is President of <a href='http://www.planet-tech.com', target='_blank'>Planet-TECH Associates</a>, a consultancy focusing on trends and innovations. Seth has twenty five years experience consulting for municipal, state, and government agencies. His primary areas of focus include climate change mitigation, technology capacity building, and municipal innovation.

%p Seth is passionate about reversing climate change and is actively investigating new approaches to the problem, particularly the role of soils and grassland restoration through Holistic Management.  With his colleague Jim Laurie, Seth has co-authored a paper on the topic titled, New Considerations for Climate Change.

%h2 Connection to HM:
%p I have made multiple six-week-long journeys to the <a href='http://achmonline.squarespace.com', target='_blank'>Africa Center for Holistic Management</a> in Zimbabwe where I have seen first hand their extraordinary work. I am deeply inspired by the soil restoration and carbon capture work of Allan Savory and his practice of Holistic Management. I have written extensively about it in my blog, <a href='http://hutwithaview.com', target='_blank'>Hut With a View.</a>