=image_tag('bios/tony.jpg', :alt => 'Tony Lovell')
%h1 Tony Lovell
%p Tony Lovell was brought up on a dairy farm and has been actively involved in the business of agriculture throughout his career. He has owned a number of cattle properties, and currently resides on and manages his own family farm on the Gold Coast of Australia.
%p Tony is a Chartered Accountant who founded and ran an accounting practice, AllState Partners, on Australia’s Gold Coast. He has over 20 years’ experience providing strategic business and taxation advice to business owners with turnover up to AU$100 million per annum.

%p Tony is co-founder and Director of Soil Carbon Australia, which was established to raise global awareness about the importance of soil organic carbon, and has been called upon to advise Australia’s Minister for Agriculture, Forestry and Fisheries and the private sector.
%p Tony has a Bachelor of Commerce from the University of Queensland, is a member of the Institute of Chartered Accountants with a Certificate of Public Practice and is a registered Tax Agent.

%p Tony is co-founder and CEO of SLM Partners (Australia) Pty Ltd and leads SLM Partners’ activities in Australia. He is responsible for acquiring properties, overseeing property development, supervising property staff, monitoring performance and exploiting opportunities related to environmental markets.
