=image_tag('bios/tre.jpg', :alt => 'Tre Cates')
%h1 Tré Cates
%p Tré is a proven leader, innovator and social entrepreneur. Motivating and understanding people have proven to be indispensable while defining, developing, and communicating an organization’s vision for the future. His ability to create and lead high performing organizations is foundational to his success.

%p After graduating from Ouachita Baptist University in 1993, he founded two faith-based non-profits, growing these organizations to memberships of 100+ people. After moving to Colorado in 1996, he founded a technology sales company in 1997. As the COO/CFO, he facilitated the growth of this organization to annual revenues of $36 million+, 100+ employees and a publicly-traded company with offices in four states and sales internationally. His company was recognized two times as one of the fastest growing companies in the US on the INC 500/5000 list and won several top company awards in the state of Colorado.

%p He has received multiple awards including Entrepreneur of Distinction in Boulder, CO and two-time semi-finalist of Ernst &Young Entrepreneur of the Year. He is active in his community by serving on the board of several companies including multiple non-profits. Tré has a BA in Philosophy from Ouachita Baptist University and a MA in Theology from Southwestern seminary.