.hero{'data-stellar-background-ratio' => '0.5'}
  %nav.nav
    .container
      .menu
        %a{href: '#nav'}
          %i.fa.fa-bars
      .logo
        %a{href: 'http://www.savoryinstitute.com/', target: '_blank'}
          =image_tag('logo.svg', :alt => 'Savory Institute')
        &nbsp;
      .tickets
        %a{href: 'https://www.eventbrite.com/e/savory-institute-international-conference-registration-11051105153', target: 'blank'}
          %button
            %i.fa.fa-ticket
            Buy Tickets

  .container
    %header
      %h1 Putting Grasslands <small>to</small>Work
      %h2 Join the Conversation

  .container
    .details
      %h3 London &bull; Aug 1 & 2

%section.main#overview
  .container
    %h2 We invite you to join us for the Savory Institutes's Annual International Conference, this year to be held in London on August 1<sup>st</sup> and 2<sup>nd</sup>
    %p This central location will allow our partners and collaborators from around the globe to join us and contribute to this special event. We will spotlight grasslands for all their under-appreciated beauty and value. We will also foster conversations around the unifying language of the land which bridges all cultures. Our movement is about real people with dirt under their fingernails and families to feed, people unified by a love of the land, a desire to understand nature's rhythms and cycles and the magical beauty of abundant life in the soil. These are people that want security for their children, prosperous landscapes, and a life filled by a deep personal connection with nature.

    %blockquote The age of Holistic Management is upon us. There is an undeniable need for humans to honor the complexity of the natural world. We've seen a new awakening among people to embrace living in harmony with their environment.The movement has reached critical mass and is exploding all around the globe.

  =image_tag('london.jpg', :class => 'photo-divider')
  .container
    %h3 Conference Venue
    %p The conference will be hosted at the <a href="http://www.grangehotels.com/business/savory-institute-international-conference/" target="_blank">Grange Tower Bridge Hotelat and Conference Center</a> in Central London. A 5-star venue situated close to the Tower of London and Tower Bridge in the heart of historic London, the conference center exudes luxury with all the modern amenities to host our world-gathering.

    %hr
    %h3 Conference Food
    %p We worked hard with the conference venue to make sure that your ticket includes as many amenities as possible. Each day coffee and tea with light breakfast items, a 3-course lunch, and snacks will be provided, as well as a complementary mixer on Friday night with one free drink voucher for beer or wine per person.






%section.main#pricing
  .container
    %h2 Pricing
    %ul
      %li
        %strong Early Bird Special:
        Get your tickets before May 15th for $100 discount per person.
      %li If you are an <a href='https://www.eventbrite.com/e/savory-institute-international-conference-registration-11051105153'>active student</a> you may purchase your tickets for $299. You will be required to bring your high school or College/University photo ID card upon admission.
      %li If you are a <a href='https://www.eventbrite.com/e/savory-institute-international-conference-registration-11051105153'>Savory Institute accredited Holistic Management Professional</a> you may also purchase at this price.
    %a{href: 'https://www.eventbrite.com/e/savory-institute-international-conference-registration-11051105153', target: 'blank'}
      %button
        %i.fa.fa-ticket
        Buy Tickets
    %hr
    %h2 Lodging
    %p
      For the most convenient option we recommend you stay at the <a href="http://www.grangehotels.com/business/savory-institute-international-conference/" target="_blank">Grange Tower Bridge Hotelat</a> the conference center.
      %br
      %em 45 Prescot Street, London, E1 8GP
      %br
      Be sure to select the Tower Bridge option from the drop-down menu. The alternative option is the City Hotel. It’s only a few blocks away and is intended for overflow if the Grange Tower Bridge Hotel reaches capacity.

      %p
        Directly opposite the conference venue is the <a href="http://www.premierinn.com/en/checkHotel/LONCIT/london-city-tower-hill" target="_blank">Premier Inn</a>
        %br
        Prices are currently around £200 for 2 nights but will vary and increase as time passes.

        %p
          Just one minute walk is a budget hotel is the  <a href="http://www.travelodge.co.uk/hotels/391/London-Central-Tower-Bridge-hotel?gclid=CKHBmtyrsr0CFZHJtAodGT0A3g" target="_blank">Travel Lodge - Tower Bridge</a>
          %br
          The <a href="http://www.travelodge.co.uk/hotels/355/London-Central-Aldgate-East-hotel" target="_blank">Travel Lodge - Aldgate East</a> is also very close.
          %br
          Prices are currently around £100 for 2 nights but will vary and increase as time passes

        %p
          About a 5 min walk away is the 4-star <a href="http://www.ihg.com/hotelindigo/hotels/us/en/london/lonlt/hoteldetail" target="_blank">Hotel Indigo - Tower Bridge</a>.

        %p Be sure to check <a href="http://www.kayak.com/" target="_blank">Kayak</a> and <a href="http://www.priceline.com/" target="_blank">Priceline</a> to make sure you’re getting the best prices.



%section.main#speaker-bios
  .container
    %h2 Speaker Bios
    %p We’ve put together what we believe is a stellar line-up of presenters. Our goal has been to build an arrangement of dynamic speakers who are experts in the fields of soil science, climate change, permaculture, range science, the local food movement, human health, conservation biology, and alternative finance. Holistic Management will be the central piece tying it all together. In addition to these presenters, you can also be sure to expect updates from our returning 2013 Hub Leaders as well as introducing new 2014 Hub Leaders, the Savory Institute Executive Team, and the Grasslands LLC Executive Team and working land managers and ranchers from around the globe.

  .container
    %li.block
      %a{href: '/bios/allan-savory'}
        =image_tag('bios/allan.jpg', :alt => 'Allan Savory')
        .name Allan Savory
    %li.block
      %a{href: '/bios/joel-salatin'}
        =image_tag('bios/joel.jpg', :alt => 'Joel Salatin')
        .name Joel Salatin
    %li.block
      %a{href: '/bios/darren-doherty'}
        =image_tag('bios/darren.jpg', :alt => 'Darren Doherty')
        .name Darren Doherty
    %li.block
      %a{href: '/bios/elaine-ingham'}
        =image_tag('bios/elaine.jpg', :alt => 'Dr. Elaine Ingham')
        .name Dr. Elaine Ingham
    %li.block
      %a{href: '/bios/patrick-holden'}
        =image_tag('bios/patrick.jpg', :alt => 'Patrick Holden')
        .name Patrick Holden
    %li.block
      %a{href: '/bios/daphne-miller'}
        =image_tag('bios/daphne.jpg', :alt => 'Dr. Daphne Miller')
        .name Dr. Daphne Miller
    %li.block
      %a{href: '/bios/owen-hablutzel'}
        =image_tag('bios/owen.jpg', :alt => 'Owen Hablutzel')
        .name Owen Hablutzel
    %li.block
      %a{href: '/bios/sarah-fragoso'}
        =image_tag('bios/sarah.jpg', :alt => 'Sarah Fragoso')
        .name Sarah Fragoso
    %li.block
      %a{href: '/bios/jacqui-dunne'}
        =image_tag('bios/jacqui.jpg', :alt => 'Jacqui Dunne')
        .name Jacqui Dunne
    %li.block
      %a{href: '/bios/courtney-white'}
        =image_tag('bios/courtney.jpg', :alt => 'Courtney White')
        .name Courtney White
    %li.block
      %a{href: '/bios/mark-stevenson'}
        =image_tag('bios/mark.jpg', :alt => 'Mark Stevenson')
        .name Mark Stevenson
    %li.block
      %a{href: '/bios/judith-schwartz'}
        =image_tag('bios/judith.jpg', :alt => 'Judy Schwartz')
        .name Judy Schwartz
    %li.block
      %a{href: '/bios/katherine-collins'}
        =image_tag('bios/katherine.jpg', :alt => 'Katherine Collins')
        .name Katherine Collins
    %li.block
      %a{href: '/bios/victoria-kindred-keziah'}
        =image_tag('bios/victoria.jpg', :alt => 'Victoria Kindred Keziah')
        .name Victoria Kindred Keziah
    -# %li.block
    -#   %a{href: '/bios/hunter-lovins'}
    -#     =image_tag('bios/hunter.jpg', :alt => 'Hunter Lovins')
    -#     .name Hunter Lovins
    %li.block
      %a{href: '/bios/peter-byck'}
        =image_tag('bios/peter.jpg', :alt => 'Peter Byck')
        .name Peter Byck
    %li.block
      %a{href: '/bios/brandon-sheard'}
        =image_tag('bios/brandon.jpg', :alt => 'Brandon Sheard')
        .name Brandon Sheard



%section.main#before-after
  .container.callouts
    %h2 Before and After Treats
    .callout
      %figure
        =image_tag('hurlingham-club.jpg')
      %h3 Gala Fundraiser Dinner at Hurlingham Club London
      %p We also want to invite you to join us for our special fundraiser Gala dinner. This will be held at the gorgeous <a href="http://www.hurlinghamclub.org.uk/", target="_blank">Hurlingham Club.</a> It’s one of the most well-known venues for private parties in the world, with a 42 acre estate right in the heart of London, there really is nothing else like it. Many of the conference speakers will be joining us at the dinner, so you'll get the opportunity to share a meal with these industry leaders who are driving the paradigm shift towards a much more positive future for us all. This is a great opportunity for you to help support our work. This helps to both support our efforts in putting on this amazing conference while also supporting our cause of regenerating grasslands and supporting pastoralists the world over. <a href="http://youtu.be/Eo9jw-kkgRQ", target="_blank">(Watch venue video.)</a>
      %a{href: 'https://www.eventbrite.com/e/savory-institute-international-conference-registration-11051105153', target: 'blank'}
        %button
          %i.fa.fa-ticket
          Buy Tickets

    .callout
      %figure
        =image_tag('mountain-tour.jpg')
      %h3 Optional Tour of Scandinavian Hub: Scandinavian Mountain Graze
      %h4 August 4th - August 9th, 2014 directly following the Savory Institute conference in London
      %p The Savory Institute Scandinavian Hub supports a mountain community that is both innovative and beautiful. With a colorful history of grazing, Fjallbete has a desire to foster interaction and lasting relationships with fellow Hubs and interested people from around the world dedicated to the advancement of Holistic Management. We invite you on an all-inclusive trip to come visit!
      %a{href: 'http://www.savoryinstitute.com/media/52027/scandinavianmountaingraze_v2.pdf', target: 'blank'}
        %button
          %i.fa.fa-download
          Details


%section.main#schedule
  .container
    %h2 Program
    %p In addition to other keynotes, you can also be sure to expect our founder Allan Savory, updates from our returning 2013 Hub Leaders as well as introducing new 2014 Hub Leaders, the Savory Institute Executive Team, and the Grasslands LLC Executive Team. Keep in mind that we have many big surprises planned.
    .schedule
      %h3 Friday, August 1<sup>st</sup>
      .row
        .time
          8:00 - 8:30 am
        .details
          %h4 Coffee, Tea, Pastries
      .row
        .time
          8:30 am
        .details
          %h4 Introduction: Putting Grasslands to Work...Let our conversation begin
          %p.speaker Daniela Ibarra-Howell, CEO, Savory Institute
      .row
        .time
          9:00 - 10:00 am
        .details
          %h4 Keynote Address: Putting Grasslands to Work: Uniting team humanity
          %p.speaker Allan Savory, President and Co-Founder, Savory Institute
      .row
        .time
          10:00 - 10:20 am
        .details
          %h4 Break
      .row
        .time
          10:20 - noon
        .details
          %h4 Putting Grasslands to Work: A conversation about the power of regenerative agriculture
          %ul
            %li Darren Doherty, creator of Regrarians, Ltd.
            %li Peter Byck, producer, Carbon Nation
          %h5 Panel of producers:
          %ul
            %li Ricardo Fenton, Estancia Monte Dinero
            %li Mimi Hillenbrand, 777 Buffalo Ranch
            %li Jim Howell, CEO, Grasslands, LLC
            %li Moderator: Chris Kerston, Dir. Communications & Marketing, Savory Institute
      .row
        .time
          Noon - 1:00 pm
        .details
          %h4 Lunch
      .row
        .time
          1:00 - 2:00 pm
        .details
          %h4 Putting Grasslands to Work: A conversation about Savory Hubs, a movement to influence the world's grasslands.
          %h5 Panel of Hub Leaders
          %ul
            %li Jorgen Anderssen, Nordic Hub, Sweden
            %li Huggins Matanga, ACHM Hub, Zimbabwe
            %li Lizzie Barkla, Chile Hub, Chile
            %li Ivan Aguirre, Sonoran Hub, Mexico
            %li Moderator: Tre Cates, COO/CFO, Savory Institute
      .row
        .time
          2:00 - 2:40 pm
        .details
          %h4 Putting Grasslands to Work: Conversation Tracks
          %h5 CT #1: The untapped potential of soil (runs until 3:30 pm)
          %ul
            %li Elaine Ingham, Founder, Soil Foodweb, Inc.
            %li Courtney White, Quivira Coalition
            %li Seth Itzkan, Planet Tech
            %li Judith Schwartz, author, Cows Save the Planet
            %li Peter Byck, producer of Carbon Nation (moderator)
          %h5 CT #2: "Ballet in the pasture" (runs until 3:30 pm)
          %ul
            %li Joel Salatin, Polyface Farm
            %li Chris Kerston, Dir. Communications & Marketing, Savory Institute
          %h5 CT #3: What is a Savory Hub?
          %ul
            %li Tre Cates, COO/CFO, Savory Institute
            %li Rolf Pretorius, South Africa Hub
          %h5 CT #4: Biomimicry in markets
          %ul
            %li Katherine Collins, founder and CEO, Honeybee Capital
            %li Victoria Keziah, brand and business strategist, NETgenerative
          %h5 CT #5: Language of the land
          %ul
            %li Darren Doherty, creator of Regrarians, Ltd.
            %li Owen Hablutzel, specialist, Permaculture and Holistic Management
          %h5 CT #6: Life, community mobilization, and Holistic Management in the African savannas
          %ul
            %li Jody Butterfield, Director of South Africa Programs, Savory Institute
            %li Huggins Matanga, Executive Director, ACHM Hub, Zimbabwe
          %h5 CT #7: Biological gigaton solutions for climate
          %ul
            %li David Addison, Manager, Virgin Earth Challenge
            %li Daniela Ibarra-Howell, CEO, Savory Institute
            %li Thomas Harttung, CEO, Black Carbon
      .row
        .time
          2:50 - 3:30 pm
        .details
          %h4 Putting Grasslands to Work: Conversation Tracks - Round 2

          %h5 CT #1: The untapped potential of soil (Cont.)
          %ul
            %li Elaine Ingham, Founder, Soil Foodweb, Inc.
            %li Courtney White, Quivira Coalition
            %li Seth Itzkan, Planet Tech
            %li Judith Schwartz, author, Cows Save the Planet
            %li Peter Byck, producer, Carbon Nation (moderator)

          %h5 CT #2: "Ballet in the pasture" (Cont.)
          %ul
            %li Joel Salatin, Polyface Farm
            %li Chris Kerston, Dir.Communications & Marketing, Savory Institute

          %h5 CT #3: The art and science of Holistic Planned Grazing
          %ul
            %li Jim Howell, CEO, Grasslands, LLC
            %li Byron Shelton, Program Director, Savory Institute

          %h5 CT #4: Marketing Holistically Managed products to consumers
          %ul
            %li Taylor Collins, Co-Founder, Epic Bar
            %li Cameron Smith, investor

          %h5 CT #5: Science power
          %ul
            %li Richard Teague, Texas A&M
            %li William Burnidge, The Nature Conservancy
            %li Andrea Malmberg, Dir. Research & Knowledge Management, Savory Institute

          %h5 CT #6: The true cost of food
          %ul
            %li Patrick Holden, Founding Director, The Sustainable Food Trust
            %li Daniela Ibarra-Howell, CEO, Savory Institute

          %h5 CT #7: Technology Tools for Farmers
          %ul
            %li Tre Cates, COO, Savory Institute
      .row
        .time
          3:30 - 4:00 pm
        .details
          %h4 Break
      .row
        .time
          4:00 - 5:30 pm
        .details
          %h4 Putting Grasslands to Work: A conversation about Soil
          %p.speaker Elaine Ingham, Founder, Soil Foodweb Inc.
      .row
        .time
          5:30 - 6:15 pm
        .details
          %h4 Keynote Address: A conversation about inspiring a new generation of farmers who want to feed the future
          %p.speaker Joel Salatin, Polyface Farm, author, <em>Fields of Farmers</em>
      .row
        .time
          6:30 - 7:30 pm
        .details
          %h4 Cocktail Reception and more conversations!
      .row
        .time
          7:30pm - 8:30pm
        .details
          %h4 Putting Grasslands to Work: Conversation Tracks - Round 2
          %h5 CT #1: Putting Grasslands to Work: Rekindling the art of Shepherding
          %ul
            %li Michel Meuret, author, The Art of Shepherding
            %li Brittney Bush, Modern Day Urban Shepherdess, Star Creek Co. Land Stewards
          %h5 CT #2: The hard science and citizen science view of climate change
          %ul
            %li Seth Itzkan, Planet Tech
            %li Jason Rowntree, Michigan State University
          %h5 CT#3: Movie - TBD

    .schedule
      %h3 Saturday, August 2<sup>nd</sup>
      .row
        .time 8:00 - 8:30 am
        .details
          %h4 Coffee, Tea, Pastries
      .row
        .time 8:30 - 10:30 am
        .details
          %h4 A celebration of genius - Tribute to Bruce Ward
          %ul
            %li Allan Savory, President, Savory Institute
            %li Suzie Ward, Australia
            %li Tony Lovell, CEO, SLM
          %h4 Putting Grasslands to Work: A conversation about investing in people and land
          %ul
            %li Jacqui Dunne, author, Rethinking Money
            %li Katherine Collins, Founder and CEO, Honeybee Capital
      .row
        .time 10:30 - 11:00 am
        .details
          %h4 Break
      .row
        .time 11:00 - noon
        .details
          %h4 Putting Grasslands to Work: A conversation about the role of science in informing management
          %h5 Panel:
          %ul
            %li Richard Teague, Texas A&amp;M
            %li Jason Rowntree, Michigan State University, USA
            %li Chad Krueger, Washington State University, USA
            %li William Burnidge, Scientist, The Nature Conservancy
            %li Moderator: Andrea Malmberg, Dir. Research &amp; Knowledge Management, Savory Institute
      .row
        .time Noon - 1:00 pm
        .details
          %h4 Lunch
      .row
        .time 1:00 - 2:00 pm
        .details
          %h4 Putting Grasslands to Work: A conversation about grasslands in the UK
          %ul
            %li Patrick Holden, Founding Director, The Sustainable Food Trust
            %li Graham Harvey, Pasture Promise TV &amp; Tim May, farmer, Kingsclere Estate
      .row
        .time 2:00- 3:00 pm
        .details
          %h4 Putting Grasslands to Work: A conversation about agriculture's role in human health
          %ul
            %li Daphne Miller, author, Farmacology
      .row
        .time 3:00-3:30 pm
        .details
          %h4 Break
      .row
        .time 3:30- 4:30pm
        .details
          %h4 Putting Grasslands to Work: Breakout Conversations
          %h5 CT#1: It's all about soil life
          %ul
            %li Elaine Ingham, founder, Soil Foodweb Inc.
          %h5 CT#2: Prescriptions for healthy living
          %ul
            %li Dr. Daphne Miller, author, Farmacology
          %h5 CT#3: What is a Savory Hub?
          %ul
            %li Tre Cates, COO/CFO, Savory Institute
            %li Doug Warnock, USA PNW Hub
          %h5 CT#4 The promising role of capital, money, and alternative currencies
          %ul
            %li Jacqui Dunne, author, Rethinking Money
          %h5 CT#5: Nature functions in wholes
          %ul
            %li Owen Hablutzel, specialist, Permaculture and Holistic Management
            %li Chris Kerston, Dir. Communications &amp; Marketing, Savory Institute
          %h5 CT#6: Human health: A cooking demonstration
          %ul
            %li Sarah Fragoso, author, Everyday Paleo
          %h5 CT #7: Using livestock to sequester carbon
          %ul
            %li Courtney White, Author, Grass, Soil, Hope
            %li Daniela Ibarra-Howell, CEO, Savory Institution
      .row
        .time 4:30 - 5:30 pm
        .details
          %h4 Demonstration: Traditional Old-World Meat Cutting
          %ul
            %li Brandon Sheard, Farmstead Meatsmith
      .row
        .time 5:30 - 6:30 pm
        .details
          %h4 Putting Grasslands to Work: A conversation about HOPE and OPTIMISM
          %ul
            %li Mark Stevenson, author, <em>Optimist's Tour of the Future</em>, UK
            %li Allan Savory, President and Co-Founder, Savory Institute
      .row
        .time 6:30- 7:00 pm
        .details
          %h4 Closing
          %h4 Putting Grasslands to Work...the Conversations Must Continue
          %ul
            %li Daniela Ibarra-Howell, CEO, Savory Institute